@font-face {
    font-family: "F2F Blurczyk";
    src: url("/font/F2FBlurczyk-Medium.otf");
}

html {
    font-size: 19px;
}
body {
    margin: 0;
    padding: 0;
    color: #111;
    background-color: white;
    font-family: Futura, Helvetica, sans-serif;
}

a {
    transition: 0.7s linear all;
    text-decoration: none;
    color: mediumblue;
    position: relative;
}
a:hover {
    transition: 0.7s linear all;
}

/* animated text underline */
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: mediumblue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
/* animated text underline */
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#bg-video {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.credit {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.credit>a {
    text-decoration: none;
    color: rgba(84, 88, 77,1);
    font-size: 15px;
    font-family: 'F2F Blurczyk', Futura, Helvetica, sans-serif;
}
.credit>a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.container>.credit {
    display: none;
}

@media (max-width: 768px) {
    .credit {
        display: none;
    }
    .container>.credit {
        display: block;
        position: static;
    }
    .container>.credit>a {
        font-size: 10px;
    }
}

.header {
    font-size: 0; /* to remove bottom gap of svg */
}

.container {
    width: 75%;
    max-width: 525px;
    padding: 4% 7%;   
    position: relative;
    
}
.content {
    max-width: 525px;
    margin: 0 auto 2rem auto;
    padding: 4% 15%;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.95);
    line-height: 1.45;
    position: relative;
}

@media (max-width: 768px) {
    .content {
        font-size: 0.7rem;
    }
}


h2 {
    font-family: 'F2F Blurczyk', Futura, Helvetica, sans-serif;
    font-size: 27px;
    padding-top: 2rem;
    line-height: normal;
}
@media (max-width: 768px) {
    h2 {
        padding-top: 1rem;
        font-size: 18px;
    }
}
