body {
    font-size: 0;
    font-weight: lighter;
    color: #111;
    background-color: white;
    padding: 0;
    margin: 0;
}


#bg-video {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.credit {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.credit>a {
    text-decoration: none;
    color: rgba(84, 88, 77,1);
    font-size: 15px;
    font-family: 'F2F Blurczyk', Futura, Helvetica, sans-serif;
}
.credit>a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.container>.credit {
    display: none;
}

@media (max-width: 768px) {
    .credit {
        display: none;
    }
    .container>.credit {
        display: block;
        position: static;
    }
    .container>.credit>a {
        font-size: 10px;
    }
}

.container {
    width: 75%;
    max-width: 525px;
    padding: 4% 7%;   
    position: relative;
    
}
.content {
    max-width: 525px;
    margin: 0 auto 2rem auto;
    padding: 4% 15%;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: Futura;
    line-height: 1.45;
    position: relative;
}

@media (max-width: 768px) {
    .content {
        font-size: 0.7rem;
    }
}


h2 {
    font-family: 'F2F Blurczyk';
    font-size: 27px;
    font-weight: bold;
    padding-top: 2rem;
    line-height: normal;
}
